<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding:0;margin:0;">
<table width="650" border="0" cellpadding="0" cellspacing="0"
       style="border-collapse:collapse;border-spacing:0;padding:0;margin:0;">
    <tr>
        <td colspan="2">

            <table width="100%" border="0" cellpadding="10" cellspacing="10">
                <tr>
                    <td width="50%">

                        <a href="https://shopiumbot.com"><img
                                src="https://shopiumbot.com/uploads/mail/logo.jpg"/></a>


                    </td>
                    <td width="50%">

                        <span style="color:#FD7E14;font-weight:bold;font-size: 21px;font-family:arial,helvetica,sans-serif;margin: 0">Персональный магазин</span>
                        <p style="color:#039BE5;font-weight:bold;font-size: 21px;font-family:arial,helvetica,sans-serif;margin: 0;">
                            в Telegram <img src="telegram.png"/></p>
                        <a href="#"
                           style="margin:10px 0;text-decoration:none;font-family:arial,helvetica,sans-serif;font-size:15px;color:#ffffff;border-style:solid;border-color:#F95700;border-width:10px 30px;display:inline-block;background:#F95700;border-radius:5px;font-weight:bold;font-style:normal;line-height:18px;width:auto;text-align:center">Узнать
                            подробнее</a>
                    </td>
                </tr>
            </table>


        </td>

    </tr>
    <tr>
        <td colspan="2"><img src="https://shopiumbot.com/uploads/mail/banner.jpg" style="display:block;border:0;outline:none;"/></td>

    </tr>
    <tr>
        <td colspan="2">
            <p style="font-family:arial,helvetica,sans-serif;text-align: center;font-size:21px;color:#FD7E14;font-weight: bold;margin: 30px 0">
                На платформе работают</p>
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                   style="border-collapse:collapse;border-spacing:0;padding:0;margin:0;">
                <tr>
                    <td style="text-align: center" width="25%">
                        <img width="100" src="https://shopiumbot.com/web/uploads/mail/jg.jpg" style="border-radius: 50%;border:3px solid #039BE5;"/>
                        <p><a href="https://t.me/Jonggolf_bot?start=shopiumbot_mail"
                              style="color:#039BE5;font-family:arial,helvetica,sans-serif;text-decoration: none;font-weight: bold;font-size: 14px">@Jonggolf_bot</a>
                        </p>
                    </td>
                    <td style="text-align: center" width="25%">
                        <img width="100" src="https://shopiumbot.com/web/uploads/mail/bayota.jpg" style="border-radius: 50%;border:3px solid #039BE5;"/>
                        <p><a href="https://t.me/BAYOTA_bot?start=shopiumbot_mail"
                              style="color:#039BE5;font-family:arial,helvetica,sans-serif;text-decoration: none;font-weight: bold;font-size: 14px">@BAYOTA_bot</a>
                        </p>
                    </td>
                    <td style="text-align: center" width="25%">
                        <img width="100" src="https://shopiumbot.com/web/uploads/mail/bobrat.jpg" style="border-radius: 50%;border:3px solid #039BE5;"/>
                        <p><a href="https://t.me/my_shoes_bot?start=shopiumbot_mail"
                              style="color:#039BE5;font-family:arial,helvetica,sans-serif;text-decoration: none;font-weight: bold;font-size: 14px">@my_shoes_bot</a>
                        </p>
                    </td>
                    <td style="text-align: center" width="25%">
                        <img width="100" src="https://shopiumbot.com/web/uploads/mail/navigator.jpg" style="border-radius: 50%;border:3px solid #039BE5;"/>
                        <p><a href="https://t.me/Navigatorshoes_bot?start=shopiumbot_mail"
                              style="color:#039BE5;font-family:arial,helvetica,sans-serif;text-decoration: none;font-weight: bold;font-size: 14px">@Navigatorshoes_bot</a>
                        </p>
                    </td>

                    <td style="text-align: center;display: none">
                        <img width="100" src="https://shopiumbot.com/web/uploads/mail/toys.jpg"
                             style="border-radius: 50%;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);"/>
                        <p><a href="https://t.me/ToysPlush_Bot?start=shopiumbot_mail"
                              style="color:#039BE5;font-family:arial,helvetica,sans-serif;text-decoration: none;font-weight: bold;font-size: 14px">@ToysPlush_Bot</a>
                        </p>
                    </td>
                </tr>
            </table>
            <p style="text-align: center;margin: 30px 0;">
                <a href="https://shopiumbot.com" target="_blank"
                   style="text-decoration:none;font-family:arial,helvetica,sans-serif;font-size:16px;color:#ffffff;border-style:solid;border-color:#F95700;border-width:10px 30px;display:inline-block;background:#F95700;border-radius:10px;font-weight:bold;font-style:normal;line-height:30px;width:auto;text-align:center">Создать
                    телеграм-магазин</a>
            </p>

        </td>

    </tr>
    <tr style="border-collapse:collapse">
        <td style="padding:0;margin:0"><img src="https://shopiumbot.com/web/uploads/mail/voz.jpg" style="display:block;border:0;outline:none;" /></td>

    </tr>
    <tr style="border-collapse:collapse">
        <td colspan="2" style="background: #3E4A58;padding:0;margin:0">

            <table width="100%" border="0" cellpadding="10" cellspacing="10">
                <tr>
                    <td width="50%"><a href="tel:+380634892695"
                                       style="font-weight:bold;font-family:arial,helvetica,sans-serif;text-decoration: none;font-size: 21px;color:#fff;">(063)
                        489-26-95</a></td>
                    <td width="50%" style="text-align: right">

                        <a href="#"
                           style="margin: 0 10px;display:inline-block;border:0;outline:none;text-decoration:none"><img
                                title="Viber" src="https://shopiumbot.com/web/uploads/mail/ic-viber.png"/></a>
                        <a href="#"
                           style="margin: 0 10px;display:inline-block;border:0;outline:none;text-decoration:none"><img
                                title="Viber" src="https://shopiumbot.com/web/uploads/mail/ic-telegram.png"/></a>
                        <a href="#"
                           style="margin: 0 10px;display:inline-block;border:0;outline:none;text-decoration:none"><img
                                title="Viber" src="https://shopiumbot.com/web/uploads/mail/ic-whatsapp.png"/></a>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>
</body>
</html>