$font-family-default: 'Open Sans', sans-serif;
$font-family-second: 'Roboto Slab', serif;
$font-family-icon: Pixelion;
$font-size: 15px;

$footer-heights: (
        xs: 0,
        sm: 315px,
        md: 180px,
        lg: 150px,
        xl: 120px
);

$color-success: #35cc62;
$color-warning: #F66718;
$color-danger: #fa6557;
$color-info: #0ecccc;
$color-primary: #007bff;
$color-secondary: #505759;
$color-dark: #343a40;
$color-light: #f8f9fa;

$h1-font-size: $font-size * 2 !default;
$h2-font-size: $font-size * 1.75 !default;
$h3-font-size: $font-size * 1.50 !default;
$h4-font-size: $font-size * 1.25 !default;
$h5-font-size: $font-size * 1 !default;
$h6-font-size: $font-size * 0.75 !default;

$gradient-color-start: #49aeb2;
$gradient-color-end: #99c997;

$heading-sizes: (
        h1:$h1-font-size,
        h2:$h2-font-size,
        h3:$h3-font-size,
        h4:$h4-font-size,
        h5:$h5-font-size,
        h6:$h6-font-size
);
$color-input-border: #D4D4D4;

$text-color: #505759;

$link-color-hover: $color-warning;

$bg-color: #e8e8e8;
$block-border: darken($bg-color, 12%);
$primary_color: #343a40;
$secondary_color: #f6f6f6;
$primary_text_color: #b5bcbf;
$link-color: $text-color;

//card settings
$card-bg: lighten($bg-color, 4%);

//tabs settings
$tabs-gradient: true;
$tabs-text-color: $primary_color;
$tabs-text-color-hover: #f6f6f6;

//params
%test {
  color: red;
  background: black;
}

/*fix google chrome input auto fill*/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  //-webkit-text-fill-color: #fff;
}