@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
  -o-border-radius: $radius;

}

@mixin hover-focus() {

}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, $black, $white);
  $level: abs($level);

  @return mix($color-base, $color, $level * $theme-color-interval);
}

@mixin box-shadow($color,$smooth:5px,$size:-1px,$inset:null) {
  @if $inset {
    $inset: inset;
  }
  -webkit-box-shadow: $inset 0px 0px $smooth $size $color;
  -moz-box-shadow: $inset 0px 0px $smooth $size $color;
  box-shadow: $inset 0px 0px $smooth $size $color;
}


@mixin gradient($start_color, $end_color,$deg: 45deg, $r:x) {

  @if $start_color == $end_color {
    background-color: $start_color;
  } @else {
    background-image: -moz-linear-gradient($deg, $start_color 0%, $end_color 100%);
    background-image: -webkit-gradient(linear, $deg, $deg, color-stop(0%, $start_color), color-stop(100%, $end_color));
    background-image: -webkit-linear-gradient($deg, $start_color 0%, $end_color 100%);
    background-image: -o-linear-gradient($deg, $start_color 0%, $end_color 100%);
    background-image: -ms-linear-gradient($deg, $start_color 0%, $end_color 100%);
    background-image: linear-gradient($deg, $start_color 0%, $end_color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start_color}', endColorstr=#{$end_color}, GradientType=1);
    background-repeat: repeat-x;
  }

}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin test {
  padding-left: 0;
  list-style: none;
}
@mixin transition($speed:1s, $animate:ease-in-out, $style:all) {
  -webkit-transition: $style $speed $animate;
  -moz-transition: $style $speed $animate;
  -o-transition: $style $speed $animate;
  -ms-transition: $style $speed $animate;
  transition: $style $speed $animate;
}


@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transform-Y($deg) {
  -moz-transform: translateY($deg);
  -ms-transform: translateY($deg);
  -webkit-transform: translateY($deg);
  -o-transform: translateY($deg);
  transform: translateY($deg);
}