$comment-arrow-size: 8px;
$comment-arrow-color-border: rgba(0, 0, 0, 0.125);
$comment-arrow-color-bg: #f7f7f7;

#comment-list {

  .comment-user-photo {
    /*border: 1px solid $comment-arrow-color-border;
    padding: 5px;*/
  }
  .comment-user-name {
    margin-top: 3px;
  }
  .card {
    position: relative;
    margin-bottom: 1rem;
    p {
      margin: 0;
    }
    .card-body {
      padding: 1rem 1rem 0 1rem;
    }
    .card-footer{
      background: transparent;
      padding: .5rem;
      border:0;
    }
    .card-header {
      padding: .5rem .5rem .5rem 15px;
      &.card-header:after,
      &.card-header:before {
        position: absolute;
        top: - ($comment-arrow-size * 2 + 2);
        left: 48%;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: outset solid solid;
        pointer-events: none;
      }
      &.card-header:after {
        border-width: $comment-arrow-size;
        border-bottom-color: $comment-arrow-color-bg;
        margin-top: 2px;
        margin-left: 1px;
      }
      &.card-header:before {
        border-bottom-color: $comment-arrow-color-border;
        border-width: ($comment-arrow-size + 1px);
      }
      @media (min-width: 576px) {
        &.card-header:after,
        &.card-header:before {
          top: 11px;
          left: - ($comment-arrow-size * 2 + 2);
          right: 100%;
          border-color: transparent;
          border-style: solid solid outset;
        }
        &.card-header:after {
          border-right-color: $comment-arrow-color-bg;
          margin-top: 1px;
          margin-left: 2px;
        }
        &.card-header:before {
          border-right-color: $comment-arrow-color-border;
        }
      }
    }
  }
}
