input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: none;

}
// yii\widgets\LinkSorter
ul.sorter {
  list-style: none;
  margin: 0;
  padding: 0;
  .asc,
  .desc {

  }
}

.delivery-subscribe {
  color: #fff;
  padding: 1rem 0;
  .text {
    display: inline-block;
    position: relative;

    font-weight: 300;
    font-size: 14px;
    strong {
      font-family: $font-family-second;
      font-size: 20px;
      font-weight: 900;
    }

  }
  @media (min-width: 768px) {
    .text {
      padding-left: 55px;
      &:before {
        width: 50px;
        height: 50px;
        left: 0;
        top: 0;
        content: '\f063';
        color: #fff;
        font-size: 40px;
        position: absolute;
        font-family: $font-family-icon;
      }
    }
  }
}

.navbar .form-control,
.delivery-subscribe .form-control {
  border-color: #fff;
  color: #fff;
}

.delivery-subscribe .form-control::-webkit-input-placeholder {
  color: #fff !important;
  font-style: italic !important;
}

.delivery-subscribe .form-control:-moz-placeholder {
  color: #fff !important;
  font-style: italic !important;
}

.delivery-subscribe .form-control::-moz-placeholder {
  color: #fff !important;
  font-style: italic !important;
}

.delivery-subscribe .form-control:-ms-input-placeholder {
  color: #fff !important;
  font-style: italic !important;
}
.form-control::-webkit-input-placeholder {
  font-style: italic;
  color:rgba(0, 0, 0, 0.250);
}
.form-control:-moz-placeholder {
  font-style: italic;
  color:rgba(0, 0, 0, 0.250);
}
.form-control::-moz-placeholder {
  font-style: italic;
  color:rgba(0, 0, 0, 0.250);
}
.form-control:-ms-input-placeholder {
  font-style: italic;
  color:rgba(0, 0, 0, 0.250);
}
.gradient {
  @include gradient($gradient-color-start, $gradient-color-end);
}

/*APP STYLES*/
/* Validate form styles */
/*.summary {
  margin-bottom: 15px;
  text-align: right;
}

.errorSummary ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.errorMessage {
  color: $color-danger !important;
  font-size: 12px;
  margin-top: .50rem;
}*/
form div.required > label:after {
  content: " * ";
  color: $color-danger;

}

.has-error label,
span.required {
  color: $color-danger !important;
}

span.highlight-word {
  background: $color-danger;
  color: #fff;
}

.list-view-loading {
  position: relative;
}

.list-view-loading:before {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1001;
  content: '';
}

.list-view-loading .grid-loading {
  position: absolute;
  width: 300px;
  padding: 10px;
  background: #fff;
  border: 1px solid $text-color;
  display: block;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  top: 50%;
  z-index: 1002;
}

.has-error .help-block {
  color: $color-danger;
  font-size: 80%;
}

.has-error textarea::-webkit-input-placeholder,
.has-error input::-webkit-input-placeholder {
  color: $color-danger;
}

.has-error textarea::-moz-placeholder,
.has-error input::-moz-placeholder {
  color: $color-danger;
}

.has-error textarea:-ms-input-placeholder,
.has-error input:-ms-input-placeholder {
  color: $color-danger;
}

.has-error textarea:-moz-placeholder,
.has-error input:-moz-placeholder {
  color: $color-danger;
}

.has-error input:invalid,
.has-error textarea:invalid,
.has-error textarea,
.has-error input {
  border-color: $color-danger;
}

.has-success label {
  color: $color-success !important;
}

.has-success textarea::-webkit-input-placeholder,
.has-success input::-webkit-input-placeholder {
  color: $color-success;
}

.has-success textarea::-moz-placeholder,
.has-success input::-moz-placeholder {
  color: $color-success;
}

.has-success textarea:-ms-input-placeholder,
.has-success input:-ms-input-placeholder {
  color: $color-success;
}

.has-success textarea:-moz-placeholder,
.has-success input:-moz-placeholder {
  color: $color-success;
}

.has-success input:valid,
.has-success textarea:valid,
.has-success textarea,
.has-success input {
  border-color: $color-success;
}

.ias-noneleft {
  margin: 15px;
}

.ias-spinner,
.ias-noneleft,
.ias-trigger {
  clear: both;
}

.ias-trigger.ias-trigger-prev {
  clear: none;
}

.ias-trigger {
  position: relative;
  &:before {
    font-family: $font-family-icon;
    content: "\f043";
  }
}

.alert-danger,
.alert-success,
.alert-info,
.alert-warning {
  background-image: none;
  filter: none;
  box-shadow: none;
  text-shadow: none;
  padding-left: 45px;
  position: relative;
  ul {
    padding-left: 0;
  }
  &:before {
    font-family: $font-family-icon;
    font-style: normal;
    line-height: 1;
    left: 13px;
    top: 13px;
    position: absolute;
    font-size: 22px;
  }
}

.alert-danger:before,
.alert-warning:before {
  content: "\f053";
}

.alert-success:before {
  content: "\f055";
}

.alert-info:before {
  content: "\f054";
}