$datepicker-active-bg: $color-warning;
$datepicker-hover-bg: #fff;
$datepicker-state-bg: $color-light;

/* Common UI */
$ui-widget-border-color: rgba(0, 0, 0, 0.125);

/* Slider */
$ui-slider-size: 4px;
$ui-slider-color: $color-warning;
$ui-slider-handle-size: 25px;
$ui-slider-handle-border-size: 3px;
$ui-slider-handle-bg-color: #fff;

/* Spinner */
$ui-spinner-bg-color: #fff;
$my-spinner-width-button: 30px;
$ui-spinner-border-width: 1px;
$ui-spinner-button-color: $ui-widget-border-color;

.ui-button {
  background: none;
}

.ui-button .ui-icon,
.ui-widget-header .ui-icon,
.ui-icon,
.ui-widget-content .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background: none;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
}

.ui-widget {
  .ui-widget {
    font-size: inherit;
  }
  color: #5f5f5f;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: inherit;
  font-family: inherit;
  input, select, textarea, button {
    font-size: inherit;
    font-family: inherit;
  }
  /*&.ui-widget-content{
    border: 0;
  }*/
  a {
    text-decoration: none;
  }
  button {
    cursor: pointer;
  }
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0;

}

.ui-widget-content {
  color: $primary_color;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ui-widget-header,
.ui-datepicker .ui-datepicker-header,
.ui-dialog .ui-dialog-titlebar {
  font-weight: bold;
  color: $primary_color;
  padding: .50rem 1rem;
  position: relative;
  background: #fff;
  border: 0;
  /*@include gradient-x(#f8f8f8, #e8e8e8);*/
}

.ui-widget-content a.btn {
  color: #fff !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  text-align: center;
  border: 0;
  font-weight: 300;
  background: $datepicker-state-bg;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background: $datepicker-hover-bg;
  color: $primary_color;
  font-weight: 300;
  border: 0;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: $datepicker-active-bg;
  color: $color-light;
  @include box-shadow($datepicker-active-bg, false);
  font-weight: 300;
}

.ui-datepicker {
  padding: 0;
  width: auto;
  text-align: center;
  @include box-shadow(rgba(0, 0, 0, 0.1));
  .ui-datepicker-title {
    margin: 0 1.5rem;
  }
  .ui-datepicker-buttonpane {
    padding: 10px;

  }
  .ui-datepicker-header {
  }
  .ui-datepicker-prev {
    left: 0;

  }
  .ui-datepicker-next {
    right: 0;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    top: 0;
    cursor: pointer;
    position: absolute;
    padding: 0 15px;
    width: 30px;
    height: 100%;
    &:before {
      top: 0;
      left: 0;
      font-weight: 300;
      position: absolute;
      height: 100%;
      width: 30px;
      line-height: 36px;
      font-family: Pixelion;
      font-size: 16px;
      display: block;
      color: $primary_color;
    }
    span {
      display: none;
    }
  }
  .ui-datepicker-prev {
    &:before {
      content: "\f005";
    }
  }
  .ui-datepicker-next {
    &:before {
      content: "\f006";
    }
  }

  table {
    margin: 0;
  }
  th {
    padding: 1rem 0 .5rem 0;
    color: rgba($primary_color, 0.4);
  }
  td span,
  td a {
    display: block;
    padding: .5rem .6rem;
  }
}

.ui-slider-horizontal {
  height: $ui-slider-size;
  .ui-slider-handle {
    top: - ($ui-slider-handle-size / 2) + ($ui-slider-handle-border-size / 2);
    margin-left: - ($ui-slider-handle-size / 2) + ($ui-slider-handle-border-size / 2);
  }
}

.ui-slider-vertical {
  width: $ui-slider-size;
  height: 100%;
  .ui-slider-handle {
    left: - ($ui-slider-handle-size / 2) + ($ui-slider-handle-border-size / 2);
  }
}

.ui-slider {
  position: relative;
  margin: 0;
  border: 0;

  .ui-widget-header {
    padding: 0;
    background: $ui-slider-color;
  }
  &.ui-widget-content {
    background: rgba(0, 0, 0, 0.125);
    border: 0;
    margin-bottom: 15px;
  }
  .ui-slider-handle {

    cursor: pointer;
    width: $ui-slider-handle-size;
    height: $ui-slider-handle-size;
    display: block;
    background: $ui-slider-handle-bg-color;
    @include border-radius(50%);
    border: $ui-slider-handle-border-size solid $ui-slider-color;
    position: absolute;
    &:focus {
      outline: none;
    }
    &:hover,
    &:focus {
      @include box-shadow($ui-slider-color);
    }
  }
}

.ui-spinner-input {
  text-align: center;
}

.ui-spinner-up {
  right: - $my-spinner-width-button;
  &:before {
    content: '+';
  }
}

.ui-spinner-down {
  left: - $my-spinner-width-button;
  &:before {
    content: '-';
  }
}

.ui-spinner {
  overflow: inherit;
  width: 60px;
  .ui-button .ui-icon {
    background-image: none;
  }
  a.ui-spinner-button {
    top: 0;
    text-indent: -99999px;
    background-image: none;
    cursor: pointer;
    @include border-radius(0);
    background: $ui-spinner-bg-color;
    width: $my-spinner-width-button;
    border: $ui-spinner-border-width solid $ui-spinner-button-color;
    height: 100%;
    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-indent: 0;
      left: 0;
      top: 0;
      text-align: center;
      line-height: 34px;
      font-weight: bold;
      font-size: 20px;
    }
    &.ui-spinner-up {
      border-left: 0;
    }
    &.ui-spinner-down {
      border-right: 0;
    }
  }

  &.ui-widget-content {
    margin-left: $my-spinner-width-button;
    margin-right: $my-spinner-width-button;
    background: #fff;
    border: 0;
    //border: $ui-spinner-border-width solid $ui-spinner-button-color;
  }
  .ui-spinner-input {
    margin: 0;
    padding: 6px 5px;
    width: 100%;
    border: 1px solid $ui-widget-border-color;
    &:focus {
      outline: none;
    }
  }
}

.ui-tabs {
  padding: 0;
  border: 1px solid $ui-widget-border-color;
  position: relative;
  .ui-tabs-panel {
    padding: 0;
  }
  .ui-tabs-nav {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      float: left;
      position: relative;
      top: 0;
      margin: 0;
      border-left: 0;
      border-top: 0;
      border-bottom-width: 0;
      padding: 0;
      white-space: nowrap;
      &.ui-tabs-active .ui-tabs-anchor,
      &.ui-state-disabled .ui-tabs-anchor,
      &.ui-tabs-loading .ui-tabs-anchor {
        background: #F8F8F8;
      }
    }

    .ui-tabs-anchor {
      padding: 10px 15px;
      float: left;
      text-decoration: none;
    }
  }
}

.ui-widget-overlay {
  z-index: 1001;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: .5;
  filter: Alpha(Opacity=50);
}

.ui-dialog {
  padding: 0;
  &.no-padding .ui-dialog-content {
    padding: 0;
  }
  .ui-dialog-content {
    padding: 0;
  }
  .ui-dialog-buttonset {
    padding: 0;
    text-align: right;
    button {
      margin-left: 1rem;
    }
  }

  .ui-dialog-buttonpane {
    margin: 0;
    padding: .3em 15px;
  }
  .ui-dialog-titlebar {

  }
  .ui-dialog-titlebar-close {
    border: 0;
    right: 1rem;
    cursor: pointer;
    &:before {
      position: absolute;
      right: 0;
      text-indent: 0;
      content: "\f029";
      font-family: Pixelion;
      font-size: 12px;
      color: lighten($primary_color, 20);
    }
  }
}
